<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Game Test</title>

        <!-- STYLE SHEETS -->
        <link rel="stylesheet" media="screen, projection" href="styles/screen.css" />

        <!-- JAVASCRIPT -->
        <script type="text/javascript" src="scripts/require-config.js"></script>
        <script type="text/javascript" src="scripts/require.js" data-main="scripts/main-controller"></script>

    </head>

    <body>

        <form action="" method="post" id="codeForm">
            <div>
                <label for="code">Code</label>
                <input type="text" id="code" />
            </div>
            <input type="submit" />
        </form>

        <table cellspacing="5" cellpadding="5" border="1" style="width: 100%;">
            <tr>
                <td id="acceleration_x">-</td>
            </tr>
            <tr>
                <td id="acceleration_y">-</td>
            </tr>
            <tr>
                <td id="acceleration_z">-</td>
            </tr>
            <tr>
                <td id="rotation_alpha">-</td>
            </tr>
            <tr>
                <td id="rotation_beta">-</td>
            </tr>
            <tr>
                <td id="rotation_gamma">-</td>
            </tr>
        </table>
    </body>
</html>